<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Military Tech</b>. I am always excited to know more about the military tech like guns, jets and missiles.
					</li>
					<li>
						<b>Fitness Enthusiast</b>. I've been an enthusiastic fitness freak. I enjoy doing endurance fitness
						activities like kickboxing, cycling, running and yoga.
					</li>
					<li>
						<b>Cooking</b>. Being a Punjabi I love food and am a good cook as well. I can cook Punjabi, Himachali and Tibetian food.
					</li>
					<li>
						<b>Gardening</b>. I love nature and I have a keen interest in gardening. I have a terrace garden of my own
						back at my hometown. I like growing various kinds of herbs and flowers.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						I have been working for an Insurance Project for my current employer.
					</li>
					<li>
						My github profile covers some of my proof of concepts in a fun way.
					</li>
				</ul>
				
			</div>
		</div>
	</div>
</section>