<section class="tout" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h2>Skills</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <p>
                Skill I have strong hands on :
            </p>
            <div class="col-sm-4 com-md-4">

                <ul>
                    <li>
                        <b>AngularJS / Angular 2+</b>
                    </li>
                    <li>
                        <b>JavaScript</b>
                    </li>
                    <li>
                        <b>HTML5</b>
                    </li>
                    <li>
                        <b>CSS3</b>
                    </li>

                    </li>
                </ul>
            </div>
            <div class="col-sm-4 com-md-4">
                <ul>
                    <li>
                        <b>NodeJS</b>
                    </li>
                    <li>
                        <b>Karma-Jasmine</b>
                    </li>
                    <li>
                        <b>RESTful API</b>
                    </li>
                    <li>
                        <b>AGILE</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>